.app {
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);
}
.linha {
  display: flex;
  gap: 0rem;
}
.quadrado {
  width: 2.6rem;
  height: 2.6rem;
  background-color: aqua;
}

.cobra {
  width: 2.6rem;
  height: 2.6rem;
  background-color: red;
}
.comida {
  width: 2.6rem;
  height: 2.6rem;
  background-color: green;
}
.gameOver {
  background-color: red;
  position: absolute;
  padding: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
